/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700);
$sans: 'Noto Stans';

* {
  box-sizing: border-box;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

html {
  box-sizing: border-box;
  background-image: linear-gradient(#007AAA, #292931);
  top: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  top: 0;
  bottom: 0;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
}

a {
  color: lighten(#007AAA, 40%);
  transition: color .1s ease-in;
  text-decoration: none;

  &:hover {
    color: lighten(#007AAA, 10%);
  }
}

h1 {
  font-size: 21px;
  color: #fff;
  letter-spacing: -0.05em;
  line-height: 28px;
  font-weight: normal;
  margin: 20px 0;

  strong {
    font-weight: bold;
  }
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-moz-keyframes typing {
    from { width: 0% }
    to { width:100% }
}

.centered {
  @include vertical-align;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  color: #fff;

  .name {
    font-size: 18px;
    font-weight: bold;
    display: block;
  }

  .hubot-avatar {
    width: 50px;
    height: 50px;
    margin: -5px 20px 0 10px;
    margin-top: -8px;
    border-radius: 50px;
    box-shadow: 0 0 0 3px #fff;
    float: left;
  }

  @media only screen
  and (max-width : 600px) {
    .name, .hubot-avatar {
      display: none;
    }

    .message {
      text-align: center;
    }
  }

  .avatar {
    display: none;
    position: absolute;
    top: -160px;
    left: 50%;
    margin-left: -70px;

    img {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      border: 4px solid #fff;
      box-shadow: 0 0 20px rgba(#fff, .3);
    }
  }

  .message {
    line-height: 24px;
    display: inline-block;
    margin-bottom: 20px;
  }

  input {
    background: #212121;
    padding: 20px;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 2px;
    font-size: 24px;
    outline: none;
    cursor: block;
  }

  .meta {
    display: inline-block;
    margin: 10px 0;
    font-size: 13px;
    line-height: 24px;
    color: rgba(#fff, .7);
  }
}

.hubot {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -50px;

  svg {
    display: inline-block;
    position: absolute;
  }

  .pulse {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    -webkit-animation: dash 3s linear infinite;
    z-index: 10;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
