<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GitHub:Identity</title>
  <link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="centered">
    <span class="js-avatar avatar"><img /></span>

    <img src="images/hubot.jpg" class="hubot-avatar">
    <span class="name">Hubot:</span>

    <div class="js-replies">
      <span class="message">Greetings unidentified one, please enter your GitHub user name:</span>
    </div>

    <script type="text/template" id="user-success">
      Ah, I remember that face, now can I get your GitHub API token?
    </script>

    <script type="text/template" id="user-failed">
      Sadly, I cannot find a GitHub user by that name. Try again?
    </script>

    <script type="text/template" id="token-success">
      Wonderful, I can now code for you while you sleep. Enjoy the night off.
    </script>

    <script type="text/template" id="token-failed">
      Sorry buddy, that token isn't any good. Do you need to <a href="https://github.com/settings/tokens/new">create a new one</a>?
    </script>

    <div class="js-command-bar">
      <input class="js-command-input" type="text" /></input>
    </div>
  </div>

  <div class="hubot">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="100px" height="50px" enable-background="new 0 0 100 50" xml:space="preserve">

      <path class="path" fill="transparent" stroke="#292931" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M16,24.21c0,0,7.57-0.06,7.63,0
        s5.17-2.56,5.28-2.56s6.24,7.83,6.24,7.83s6.87-8.46,6.98-8.46c0.11,0,5.68,6.47,5.68,6.47l6.81-6.47l5.51,10.33l6.58-12.72
        c0,0,7.15,8,7.27,8s7.12,0.09,7.21,0"/>
      </svg>

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="100px" height="50px" enable-background="new 0 0 100 50" xml:space="preserve">

      <path class="path pulse" fill="transparent" stroke="#f2a31c" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" d="M16,24.21c0,0,7.57-0.06,7.63,0
        s5.17-2.56,5.28-2.56s6.24,7.83,6.24,7.83s6.87-8.46,6.98-8.46c0.11,0,5.68,6.47,5.68,6.47l6.81-6.47l5.51,10.33l6.58-12.72
        c0,0,7.15,8,7.27,8s7.12,0.09,7.21,0"/>
      </svg>
  </div>

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/underscore.js"></script>
  <script src="javascripts/backbone.js"></script>
  <script src="javascripts/application.js"></script>

  <script>
    $(function() {
      window.App.init();
    });
  </script>
</body>
</html>
